body {
    background-color: black;
    display: flex;
}

.petal {
    background-color: crimson;
}

.petal.big_bud {
    width: 50px;
    height: 100px;
}

.petal.big_bud.right {
    text-align: right;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}